.wd-bg-black {
    background-color: black;
}

.wd-bg-dark-gray {
    background-color: darkgrey;
}

/*.wd-rounded-corners-all-around {*/
/*    border-radius: 20px;*/
/*}*/

.wd-white-text {
    color: white;
}

/*.wd-content-row {*/
/*    !*background-color: black;*!*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    clear: both;*/
/*}*/

.wd-mag-glass {
    padding-left: 10px;
    padding-right: 8px;
    background-color: darkgrey;
}

/*.grid-row {*/
/*    clear: both;*/
/*}*/

.wd-col-six {
    float: left;
    width:16.6%;
}

.wd-tab {
    color: rgb(110, 118, 125);
    text-align: center;
    font-size: 15px;
    padding: 16px;
    width: 14%

}

.wd-highlighted-tab {
    color: rgb(29,161,242);
    border-bottom: solid medium;
    border-bottom-color: rgb(29,161,242);
}

input {
    width: 93%;
}

img {
    padding-top: 5px;
}

body {
    padding-left: 16px;
    background-color: black;
    font-family: "Arial", serif;
}

.wd-container {

}

.wd-topic {
    color: rgb(110, 118, 125);
    font-size: 13px;
}


.wd-suggested-post {
    border: red;
    font-weight: bold;
    color: white;
}

/*.wd-grey-border-bottom {*/
/*    border-bottom: rgb(47, 51, 54) solid thin;*/
/*}*/

.wd-icon {
    padding-top: 10px;
    border-radius: 50px;
    width: 25px;
    float: left
}

.wd-article-header {
    font-weight: bold;
    font-size: 12px;
    margin: 0;
}

.wd-time-elapsed {
    color: rgb(110, 118, 125);
    font-size: 12px;
    font-weight: normal;
}

.wd-news-header {
    padding-top: 5px;
}

.wd-prev-img {
    border-radius: 30px;
}

.wd-article-prev {
    width: 70%;
    float: left;
}

.wd-article-prev-img {
    float: right;
    padding-right: 16px;
    border-radius: 30px;
}

.article {
    overflow: hidden;
}


.float-left {
    float: left;
}

.list-group-item {
    font-size: 0.9rem;
    /*border-color: white;*/
    /*color: white;*/
}

/*position absolute, giving the search a top and bottom*/

/*.nav {*/
/*    border-color: white;*/
/*    color: white;*/
/*}*/

.nav-item {
    font-size: 0.8rem;
}

button {
    border-radius: 10px;
}

.fa-magnifying-glass {
    position: absolute;
}

.fa-gear {
    position: absolute;
}

.wd-starship {
    margin-top: 20rem;
}




