body {
    /*color: white;*/
    background-color: white;
    font-family: Arial, 'sans-serif';
}

.wd-rounded-corners-all-around {
    border-radius: 20px;
}

.wd-grey-border-bottom {
    border-bottom: rgb(47, 51, 54) solid thin;
}

/*.tweet {*/
/*    border: rgb(47, 51, 54) solid thin;*/
/*}*/

.wd-content-row {
    /*background-color: black;*/
    color: white;
    font-weight: bold;
    clear: both;
}

.wd-pfp {
    padding-top: 10px;
    border-radius: 50px;
    width: 48px;
    float: left
}

.wd-list-img {
    width: 100px;!important;
}
